body {
  text-align: center;
  height: 100%;
  background: url("../image/green-paint-brush-textured-background.jpg")
    no-repeat center center/cover;
}

.messageContainer {
  max-width: 985px;
  /* border: 2px solid rgba(0, 128, 0, 0.598); */
  margin: auto;
  height: 60vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
  margin-top: 5rem;
}

.message {
  background-color: #90db88;
  width: 24%;
  margin: 17px 12px;
  padding: 10px;
  border: 2px solid rgba(0, 128, 0, 0.598);
  border-radius: 10px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

#send-form {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 985px;
  width: 100%;
}

#messageInput {
  border: 2px solid rgba(0, 128, 0, 0.598);
  border-radius: 6px;
  height: 37px;
  width: 36%;
  padding-bottom: 8px;
  /* float: right; */
  overflow: hidden;
}

.btn {
  border: 2px solid rgba(0, 128, 0, 0.598);
}
